package views

templ Base(title string) {
    <html>
        <head>
            <title>{title} - Eyes Only</title>
            <link rel="stylesheet" href="/static/assets/index.css" />
        </head>

        <body>
        @Navbar()
        <main class="px-4">
        { children... }
        </main>
        </body>
    </html>
}