package views

type EditViewModel struct {
    EditId string
    Title string
    Content string
}

templ Edit(vm *EditViewModel) {
    <div>
        <form action={templ.SafeURL("/edit/" + vm.EditId)} method="post">
            <h1>Editing secret {vm.Title}</h1>

            <div>
                <label>Title</label>
                <input type="text" name="title" value={templ.EscapeString(vm.Title)} />
            </div>
            <div>
                <label>Content</label>
                <textarea name="content">{templ.EscapeString(vm.Content)}</textarea>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>

    </div>
}