package views

type HomeViewModel struct {
    FlashError string
}

templ Home(vm *HomeViewModel) {
    @Base("Home") {
        <div>
            if vm.FlashError != "" {
                <div>{ vm.FlashError }</div>
            }
            <form method="post" action="/create">
                <div>
                    <label>title</label>
                    <input type="text" name="title" id="title" />
                </div>
                <div>
                    <label>content</label>
                    <textarea name="content"></textarea>
                </div>
                <div>
                    <label>expiry</label>
                    <input type="datetime-local" name="expiry" />
                </div>
                <div>
                    <label>password</label>
                    <input type="password" name="password" />
                </div>
                <div>
                    <input type="submit" value="Create" />
                </div>
            </form>
        </div>
    }
}