package views

type PeekViewModel struct {
    Title string
    Content string
}

templ Peek(vm *PeekViewModel) {
    @Base("Peeking Secret: " + vm.Title) {
        <div>
            <h1 class="text-xl mb-2">{vm.Title}</h1>
            <div
                class="border rounded-xs shadow-xs px-1 py-1/2 w-md h-1/2"
                disabled>{templ.EscapeString(vm.Content)}</div>
        </div>
    }
}